*{
    margin: auto;
    padding: auto;
}

html{
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
}
    
body{
    
	height: 5420px;
}
#marcador0{
	background-color: rgb(0, 204, 255);
	width: -webkit-fill-avaliable;
	height: 612px;
	display: block;
	top: 0;
}
#pantalla1{
	position:absolute;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 800px;
	height: 500px; 
	z-index: 10;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
h1{
	font-size: 40px;
}
img{
	width: 600px;
	height: 300px;
	border-radius: 3px;
}
p{
	width: 600px;
}
button{
	display: block;
}
a{
	display: block;
	text-decoration: none;
	color:rgb(84, 84, 84);
}
#limitemarcador1{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	height: 1495px;
	width: -webkit-fill-available;
	background-color: rgb(0, 180, 224);
}

#marcador1{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 9;
	top: 50px;
	left: 0px;
	width: 800px;
	display: block;
	height: 500px;
	margin-bottom: 100px;
}
#pantalla2{
	position: relative;
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 100%;
	height: 500px;
	z-index: 8; 
	margin: auto;
}




	#nextSlide2 {
		position: absolute;
		top: 1447px;
	}
	#nextSlide3 {
		position: absolute;
		top: 2087px;
	}
	#nextSlide4 {
		position: absolute;
		top: 2720px;
	}
	#nextSlide5 {
		position: absolute;
		top: 3400px;
	}
	#nextSlide6 {
		position: absolute;
		top: 4100px;
	}
	#nextSlide7 {
		position: absolute;
		top: 4800px;
	}

#limitemarcador2{
	position: absolute;
	top: 612px;
	left: 0px;
	z-index: 7;
	height: 1495px;
	width: -webkit-fill-available;
	background-color: rgb(0, 107, 174);
}

#marcador2{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 8;
	top: 50px;
	left: 0px;
	width: 800px;
	display: block;
	height: 500px;
	margin-bottom: 100px;
}
#pantalla3{
	position: relative;
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 100%;
	height: 500px;
	z-index: 7; 
	margin: auto;
}




#limitemarcador3{
	position: absolute;
	top: 1251px;
	left: 0px;
	z-index: 6;
	height: 1495px;
	width: -webkit-fill-available;
	background-color: rgb(0, 81, 131);
}

#marcador3{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 7;
	top: 50px;
	left: 0px;
	width: 800px;
	display: block;
	height: 500px;
	margin-bottom: 100px;
}




#pantalla4{
	position: relative;
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 100%;
	height: 500px;
	z-index: 6; 
	margin: auto;
}




#limitemarcador4{
	position: absolute;
	top: 1954px;
	left: 0px;
	z-index: 5;
	height: 1495px;
	width: -webkit-fill-available;
	background-color: rgb(0, 44, 97);
}

#marcador4{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 6;
	top: 50px;
	left: 0px;
	width: 800px;
	display: block;
	height: 500px;
	margin-bottom: 100px;
}
#pantalla5{
	position: relative;
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 100%;
	height: 500px;
	z-index: 5; 
	margin: auto;
}

#limitemarcador5{
	position: absolute;
	top: 2618px;
	left: 0px;
	z-index: 4;
	height: 1495px;
	width: -webkit-fill-available;
	background-color: rgb(0, 19, 59);
}

#marcador5{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 5;
	top: 50px;
	left: 0px;
	width: 800px;
	display: block;
	height: 500px;
	margin-bottom: 100px;
}
#pantalla6{
	position: relative;
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 100%;
	height: 500px;
	z-index: 4; 
	margin: auto;
}




#limitemarcador6{
	position: absolute;
	top: 3300px;
	left: 0px;
	z-index: 3;
	height: 1495px;
	width: -webkit-fill-available;
	background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,44,149,1) 100%);
}

#marcador6{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 4;
	top: 50px;
	left: 0px;
	width: 800px;
	display: block;
	height: 500px;
	margin-bottom: 100px;
}
#pantalla7{
	position: relative;
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 100%;
	height: 500px;
	z-index: 3; 
	margin: auto;
}


#limitemarcador7{
	position: absolute;
	top: 4000px;
	left: 0px;
	z-index: 1;
	height: 1495px;
	width: -webkit-fill-available;
	
	
}
#marcador7{
	position: -webkit-sticky;
  	position: sticky;
	z-index: 0;
	top: 50px;
	left: 0px;
	width: 100%;
	display: block;
	height: 1495px;
	margin-bottom: 100px;
	background: url(../IMG/finalphoto.jpg) repeat 0 0;
    background-position:bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

#jugar{
	background-color: rgba(103, 103, 103, 0.432);
	position: absolute;
	color: aliceblue;
	text-decoration: none;
	height: 40px;
	width: 100px;
	top: 1250px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,0);
	z-index: 1;
}
#jugar a:visited{
	color: aliceblue;
	text-decoration: none;
}