*{
    margin: auto;
    padding: auto;
}

html{

	margin: 0px;
	padding: 0px;
}
    
body{
    
	height: 2160px;
}
#marcador0{
	background-color: rgb(0, 83, 228);
	width: -webkit-fill-avaliable;
	height: 900px;
	display: block;
	top: 0;
}
#pantalla1{
	position:absolute;
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 800px;
	height: 500px; 
	z-index: 1;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
h1{
	font-size: 40px;
}
img{
	width: 600px;
	height: 300px;
	border-radius: 3px;
}
p{
	width: 600px;
}
#limitemarcador1{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 2000px;
}
#marcador1{
	position: -webkit-sticky;
  	position: sticky;
	background-color: rgb(0, 40, 110);
	z-index: 0;
	top:50%;
	left:50%;
	margin-right: -50%;

	display: block;
}
#pantalla2{
	
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 800px;
	height: 500px;
	z-index: -1; 
	
}
