*{
    margin: auto;
    padding: auto;
    list-style-type: none;
    text-decoration:none;
}

html{
    width:100%;
    height:100%;
	margin: 0px;
	padding: 0px;
}
    
body{
    width:100%;
    height:100%;
    background-color:rgb(35, 30, 30);
    overflow-y:hidden;
	height: 2160px;
}
header{
	color:yellow;
	text-align: center;
	line-height: 50px;
    background-color: darkblue;
	
}
div{
    border-radius: 5px;
}
div nav{
	position:absolute;
	top:90%;
	left:24%;
}
div nav ul li a{
	color:lightblue;
	font-size: 30px;
	width:235px;
	height:50px;	

}
div nav ul li{
	width:235px;
	height:50px;
	background-color:royalblue;
	border-top:royalblue 5px solid;
	border-bottom:royalblue 5px solid;
	color:lightblue;
	float:left;
	margin:5px auto;
	text-align: center;
	line-height: 40px;
    display:block;
}
div nav ul li:hover{
	display:block;
	background-color:lightblue;
	color:royalblue;
	border-top:royalblue 5px solid;
	border-bottom:royalblue 5px solid;
}
div nav ul li:hover a{
	display:block;
	color:royalblue;
}

div a{
    display: block;
    text-decoration: none;
}
div:hover a{
    display: block;
}

div{
	background-color: rgb(0, 83, 228);
	width: -webkit-fill-avaliable;
	height: 1080px;
	display: block;
	top:20%;
}
div div{
	position:absolute;
	width:300px;
	background-color:white;
	border-radius: 5px;
	font-family: 'Inconsolata', monospace;
	font-family: 'Noto Serif', serif;
	color:rgb(84, 84, 84);
	text-align:center;
	width: 800px;
	height: 500px; 
	z-index: 1;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
h1{
	font-size: 40px;
}
img{
	width: 600px;
	height: 300px;
	border-radius: 3px;
}
p{
	width: 600px;
}

#next{
    position:absolute;
	background-color:yellow;
	font-family:fantasy;
    border-radius: 50%;
    border-style: solid;
    left:80%;
    top:93%;
    width:100px;
    height:40px;
    text-align: center;
    line-height: 40px;
    display: block;
}

#next:hover{
    background-color:sandybrown;
    display: block;
	
}

#next:hover a{
    color:antiquewhite;
    display: block;
	
}

#next a{
    display: block;
	
}

div#resultado{
    position: absolute;
    top:10%;
    left: 27%;
    width:600px;
    height:600px;
    font-size: 300px;
    text-align: center;
    line-height: 600px;
    opacity: 40%;
}

div#restart{
    position: absolute;
    color:lightblue;
    background-image: url("../IMAGENES/fondo.jpg");
    top:90%;
    left: 30%;
    width:500px;
    height:50px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    text-align: center;
    line-height: 50px;    
}
div#restart:hover{
    border: solid 2px yellow;
    
}
div#restart:hover a{
    color: yellow;
}